.weekly-card {
  min-height: 150px;
  height: fit-content !important;

  .card-body {
    display: flex;
    flex-flow: column nowrap;

    .card-title-layout {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    
      .card-title-layout-button {
        font-size: medium;
        visibility: hidden;
  
        &.additional-margin {
          margin-left: 4px;
        }
      }
    }
  
    &:hover {
      .card-title-layout {
        .card-title-layout-button {
          visibility: visible;
        }
      }
    }

    .weekly-text {
      white-space: pre-wrap;
    }
  }
}